.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.fondo{
    width: 100%;
    height: 100%;
}
.title{
    position: absolute;
    font-family: "Roboto Light";
    background-color: #B8860B;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    top: 10%;
    left: 43%;
    z-index: 2;
}
.card{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 26%;
    left: 39%;
    z-index: 1;
}
.card img{
    width: 100%;
    height: 100%;
}